.wrapper {
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-around;
  gap: 40px;
}

.sem-selector-and-search-bar {
  justify-content: space-around;
}

/* .customTable{
  width: 100%;
  height: 100%;
} */