.add-course-and-courses-table-div {
  gap: 16px;
  padding: 24px;
  flex: 1;
}

.add-courses-component-div {
  flex: 1;
}

.custom-table-component-div {
  flex: 2.5;
}


.wrapper{
    flex-direction: column;
}

.table-and-search-bar{
    flex: 3;
    gap: 20px;
    flex-direction: column;
}

.table-heading-and-search-bar{
    justify-content: space-around;
}