.materia-ui-table {
  border: 2px solid #2c2525;
  justify-content: center;
}

.materia-ui-table-head {
  background-color: var(--table-head-background-color);
  position: sticky;
}

.materia-ui-table th {
  color: var(--text-color);
  font-size: large;
  font-weight: bolder;
}

.materia-ui-table td {
  color: var(--text-color);
  font-weight: 200;
}

.materia-ui-table-body {
}

.materia-ui-table-row:hover {
  color: red !important;
  background-color: #0d243c;
}

.table-container {
  background-image: linear-gradient(
    to right bottom,
    #334855,
    #25435c,
    #1e3d61,
    #233565,
    #312a64
  );
}
