[data-theme="dark"] .wrapper,
[data-theme="dark"] .wrapper * {
  color: #f5a236;
  background-color: black !important;
}

[data-theme="dark"] .wrapper input,
button,
[data-theme="dark"] .wrapper .course-div {
  outline: 0.5px solid #f5a236;
}

[data-theme="dark"] .wrapper input:hover,
button:hover,
[data-theme="dark"] .wrapper .course-div:hover {
  outline: 2px solid #f5a236;
}

[data-theme="dark"] input::placeholder {
  color: #715734;
  background-color: black;
}

* li:hover {
  color: red !important;
}

[data-theme="dark"] img {
  border: 4px solid #f5a236;
  border-radius: 50%;
}

.theme-button-main {
  width: min-content;
  background-color: #425e99;
  border-radius: 10%;
  padding: 12px;
  position: fixed;
  bottom: 10px;
  left: 10px;
  color: white;
}

[data-theme="dark"] .theme-button-main {
  background-color: black;
  color: #f5a236;
}

@media (prefers-color-scheme: dark) {
  .app {
    background: #232530;
    background: -webkit-linear-gradient(top left, #232530, #3a3e50);
    background: -moz-linear-gradient(top left, #232530, #3a3e50);
    background: linear-gradient(to bottom right, #232530, #3a3e50);
  }
  * {
    color: rgb(239, 179, 179) !important;
  }
  button {
    color: black !important;
  }

  .materia-ui-table {
    background: #232530;
    background: -webkit-linear-gradient(top left, #232530, #3a3e50);
    background: -moz-linear-gradient(top left, #232530, #3a3e50);
    background: linear-gradient(to bottom right, #232530, #3a3e50);
  }
}
